@font-face {
    font-family: "Helvetica Neue";
    src: url("/font/Nimbus-Sans-D-OT-Ultra-Light_32757.woff2") format("woff2");
}
body{
    font-family: "Helvetica Neue", Serif;
    background: #141414;
    -webkit-font-smoothing: antialiased;
}

.navbar{
    height: 68px;
    z-index: 1;
    width: 100%;
    position: fixed;
}

.bg-dark{
    background-color: transparent!important;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}

.container-fluid{
    padding-left: var(--bs-gutter-x,4%)!important;
}

.nav-link{
    color: #e5e5e5!important;
    height: 100%;
    font-size: 16px;
    padding-left: 1.3rem!important;
}

.nav-link:hover{
    color: #b3b3b3 !important;
    transition: color .4s;
}

.bg{
    position: absolute;
    background-position: center center;
    background-size: cover;
    width: 100%;
    opacity: .99;
}

.info{
    left: 4%;
    right: 38%;
    position: absolute;
    bottom: 35%;
    width: 650px;
    top: 25%;
}

.synopsis{
    word-wrap: break-word;
    font-family: "Helvetica Neue", Serif;
    text-align: justify;
    width: 100%;
    margin: .5vw 0 0 0;
    color: #fff;
    font-weight: 400;
    line-height: normal;
    font-size: 1.8vw;
    line-height: 1.3em;
    text-shadow: 2px 2px 4px rgba(0,0,0,.45);
}

.lec{
    margin: 1vw 0 0 0;
    padding: 0.5vw;
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.4rem;
    background-color: #e5e5e5!important;
    border: 0;
    width: 30%;
}

.lec:hover{
    color: black;
    background-color: #b3b3b3 !important;
}

.play{
    margin-bottom: 3%;

}

.infos{
    margin: 1vw 0 0 0;
    margin-left: 1rem;
    padding: 0.5vw;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.4rem;
    background-color: grey!important;
    opacity: 50%;
    border: 0;
    width: 30%;
}
.infos:hover{
    color: black;
    background-color: #b3b3b3 !important;
}

.top10{
    position: absolute;
    line-height: 1.25vw;
    font-size: 1.6vw;
    left: 4%;
    top: 80%;
    color: #e5e5e5!important;
    text-shadow: 2px 2px 4px rgba(0,0,0,.45);
}

.head-mod{
    box-sizing: inherit;
}

.modal-content{
    border: 0px solid rgba(0,0,0,.2);
}

.modal-header{
    padding: 0 0 0 0;
    box-sizing: content-box;
    border-bottom: 1px solid #141414;
}

.font-mod{
    width: 850px;
    position: fixed;
    top: 1.5em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
   -webkit-mask-image: linear-gradient(to bottom,rgba(0,0,0,.7) 50%,rgba(0,0,0,0));
    
}

.modal-dialog{
    width: 850px;
    max-width: 850px;
    background-color: #141414;
}

.font-ec{
    box-sizing: inherit;
    width: 40%;
    position: absolute;
    bottom: 156%;
    left: 3em;
}

.font-ec-title{
    width: 100%;
}

.lecs{
    margin: 2vw 0 0 0;
    padding: 8px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    background-color: #e5e5e5!important;
    border: 0;
    width: 40%;
}

.btnec{
    width: 38px;
    height: 38px;
    border-width: 2px;
    background-color: rgba(42,42,42,.6);
    border-color: rgba(255,255,255,.5);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: 0rem 0rem 2px;
    color: #fff;
    margin-left: 4px;
}

.btnec:hover{
    border: 1px solid #fff;
    border-width: 2px;
    color: #fff;
}

.lecs:hover{
    color: black;
    background-color: #b3b3b3 !important;
}

.modal{
    height: 103%;
}

.modal-body{
    padding: 0em;
}

.principal{
    width: 100%;
    position: inherit;
}

.mod-main-title{
    position: fixed;
    display: flex;
    width: 850px;
    padding: 1em 3em 0;
    flex-direction: column;
    color:#ffffff;
    line-height: .8em;
}

h2{
    font-size: 24px;
    font-weight: 700;

}

.saison{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
    padding-bottom: 2em;
}

.episode{
    padding: 1em;
    align-items: center;
    border-bottom: 1px solid #404040;
    border-top: 1px solid #404040;
    min-height: 6em;
    align-items: center;
    display: flex;
    font-size: 16px;
    -webkit-border-radius: .25em;
}

.episode:hover{
    background-color: #333;
}

.eptop{
    border-top: 1px solid #404040;
    -webkit-border-radius: .25em;
}

.nbr-ep{
    font-size: 1.5em;
    color: #d2d2d2;

}
.episodes{
    -webkit-border-radius: .25em;
    height: 86px;
    width: 153px;
}

.image-ep{
    padding-left: 2em;
}

.desc-ep{
    padding-left: 2em;
    font-size: 14px;
    line-height: 20px;
}

.title-ep-t{
    position: absolute;
    font-size: 1em;
    font-weight: 900;
}

.temps{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: .5em;
}